body {
  background-color: black;
  font-family: Helvetica;
  color: seashell;
  font-size: 22px;
  opacity: 0.9;
}

header {
  display: flex;
  border-bottom: 1px solid seashell;
  align-items: center;
  height: 69px;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  width: auto;
  z-index: 1;
  background-color: black;
}

span a {
  color: seashell;
  text-decoration: underline;
  padding: 10px;
}

header img {
  height: 50px;
  padding-left: 10px;
  margin-right: auto;
}

#mission {
  background-image: url("images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  margin: 69px auto 0px auto;
  display: flex;
  align-items: center;
}

.mission-copy {
  background-color: black;
  text-align: center;
  width: 1200px;
}

#mission h2,h4 {
  margin: 15px auto;
}

#tea {
  text-align: center;
  padding-top: 62px;
  margin-bottom: 50px;
}

.tea-pics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 1000px;
}

.tea-pics img {
  height: 200px;
  width: 300px;
}

.tea-pics div {
  text-align: center;
  margin: 0 15px;
}

.picture {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 10px;
}

.picture h4 {
  margin-top: 10px;
}

#locations {
  background-image: url("images/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-top: 70px;
}

#locations h2 {
  margin: 15px auto;
}

.locations-copy {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

.locbox {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
  width: 300px;
  background-color: black;
  opacity: 1;
}

.contact {
  text-align: center;
  height: 200px;
}

.contact h2 {
  margin-top: 15px;
}

.copyright {
  margin: 0px 20px;
}
